.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
h1,h2,h3 {
    vertical-align:middle;
}

.timestamp{
    padding-top: -10px;
    font-size: 10px;
}
.header-title{
    margin-top: 10px;
    line-height:10px;
}

#mapCanvas,.map {
    width: 500px;
    height: 400px;
    float: left;
}
.angular-google-map-container { height: 400px; }

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}


