<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-sm-10">
            <form name="myForm" class="form-horizontal" >

                <div class="form-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
                    <label  class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="project.data.name" required>
                        <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
                            Required {{myForm.name.$pristine}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10 ">
                        <textarea name="description" class="form-control" rows="3" ng-model="project.data.description"></textarea>
                    </div>
                </div>                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hours</label>
                    <div class="col-sm-10 ">
                        <div class="col-sm-12" >
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label"> Date</label>
                                </div>
                                <div class="col-lg-3">
                                    <label class="control-label">Open time</label>
                                </div>
                                <div class="col-lg-3">
                                    <label class="control-label">Close time</label>
                                </div>
                            </div>
                            <div class="row" ng-repeat='line in ranges' style="padding-top: 5px">
                                <div class='line' ng-form='lineForm'>
                                    <div class="col-lg-4" >
                                        <select  name='date' ng-model="line.date" class="form-control" >
                                            <option value="allweek">ทุกวัน</option>
                                            <option value="monfri">จันทร์ - ศุกร์</option>
                                            <option value="satsun">เสาร์ - อาทิตย์</option>
                                            <option value="1">จันทร์</option>
                                            <option value="2">อังคาร</option>
                                            <option value="3">พุธ</option>
                                            <option value="4">พฤหัสบดี</option>
                                            <option value="5">ศุกร์</option>
                                            <option value="6">เสาร์</option>
                                            <option value="7">อาทิตย์</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type='text' 
                                               name='open'
                                               ng-model='line.open' 
                                               class="form-control time"
                                               ui-mask="99:99"
                                               />
                                    </div>
                                    <div class="col-lg-3">  
                                        <input type='text' 
                                               name='close'
                                               ng-model='line.close' 
                                               class="form-control time"

                                               ui-mask="99:99"
                                               />

                                    </div>
                                    <div class="col-lg-2" >
                                        <a href ng-if='!$first' ng-click='removeRange($index)' ><i class="fa fa-trash-o fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 5px">
                                <div class="col-lg-10"><a  ng-click='addRange()' style="width: 100%" class="btn btn-primary btn-sm">
                                        <i  class="fa fa-plus-circle fa-lg"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Map</label>

                    <div class="col-sm-10" >
                        <div id="mapCanvas"  style="width: 100%"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Position</label>
                    <div class="col-sm-10 ">
                        <div class="col-sm-6">
                            <input type="text" id="lat" class="form-control" name="latitude"  ng-model="project.data.latitude" readonly>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="lng" class="form-control" name="longitude"  ng-model="project.data.longitude" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="#/" class="btn">Cancel</a>
                        <button ng-click="save(project.data.timestamp)" ng-disabled="myForm.$invalid"
                                class="btn btn-primary">Save</button>
                        <button ng-click="destroy()"
                                ng-show="project.$remove" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
