<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-sm-10"> 
                    <input type="text" class="form-control" placeholder="Search" ng-model="search">
                </div>
                <div class="col-sm-2">
                    <a href="#/new"><i class="fa fa-plus-circle fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-lg-12">
                <div class="col-sm-10"> 
                    <div class="pull-left">
                        Order by : 
                        <div class="btn-group " ng-init='order = "-data.timestamp"'>
                            <button type="button" class="btn btn-default btn-xs" ng-click='order = order === "-data.timestamp" ? "data.timestamp" : "-data.timestamp";' >
                                <i ng-class="{'fa fa-caret-up': order == 'data.timestamp', 'fa fa-caret-down': order == '-data.timestamp'}"></i> New
                            </button> 
                            <button type="button" class="btn btn-default btn-xs" ng-click='order = order === "-data.name" ? "data.name" : "-data.name";'>
                                <i ng-class="{'fa fa-caret-up': order == '-data.name', 'fa fa-caret-down': order == 'data.name'}"></i> Name
                            </button> 
                            <button type="button" class="btn btn-default btn-xs" ng-click='order = order === "-data.update" ? "data.update" : "-data.update";'>
                                <i ng-class="{'fa fa-caret-up': order == 'data.update', 'fa fa-caret-down': order == '-data.update'}"></i> Update
                            </button>

                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" ng-model="opennow" ng-init="opennow = true"
                               ng-true-value="false" ng-false-value="true" ng-checked="!opennow"><span ng-click="opennow = !opennow" > Open Only</span>
                    </div>
                </div>
            </div>
        </div> 
        <div ng-repeat="project in projects| orderByPriority | filter:search | orderBy:order">
            <div class="media col-lg-12" ng-show="(project.opennow && project.opennow != 'nottime') || opennow">
                <div > 
                    <a class="pull-left" href="#">
                        <img src="http://placehold.it/80x80" class=" media-object img-thumbnail">
                    </a>
                    <div class="media-body">
                        <div class="col-lg-10">
                            <h3 class="media-heading header-title">{{project.data.name}} 
                                <small class="timestamp" ng-init="show = checkopen(project.$id, project.time)"> 
                                    <span ng-if="project.opennow == true" class="label label-success">Open</span>
                                    <span ng-if="project.opennow == false" class="label label-danger">Close</span>
                                    <!-- <span ng-if="show === 'nottime'" class="label label-danger">no</span>-->
                                </small>
                                <small  ng-show="project.data.update" class="timestamp" >
                                    <br >Last Update {{project.data.update| date:'yyyy-MM-dd HH:mm:ss'}}
                                </small></h3>
                            {{project.data.description}}</div>
                        <div class="col-lg-2 " >
                            <div>
                                <a href="#/edit/{{project.$id}}"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div >
                                <a  ng-click="cnk = !cnk"><i class="fa fa-align-justify" ></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="media col-lg-12" >
                        <div class="media-body" ng-if="project.data.latitude">
                            <div id="{{project.$id}}" ng-if="cnk">                
                                <map  class="map" style="width:100%"center="[{{project.data.latitude}}, {{project.data.longitude}}]" zoom='18'>
                                    <marker position="[{{project.data.latitude}}, {{project.data.longitude}}]" title="are"></marker>
                                </map>
                            </div>
                        </div>
                        <div class="media-body" ng-if="!project.data.latitude">
                            <div id="{{project.$id}}" ng-if="cnk">                
                                not found location
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>