<div class="row">
    <div class="col-sm-10">
        <div id="map-canvas" style="width: 100%; height: 500px;"></div>

    </div>
    <div class="col-sm-2">
        <section id="location-console">

            <h4><i class="icon-circle-blank"></i> Restaurant currently in the circle </h4>

            <ul class="clearfix"></ul>
        </section>
    </div>


</div>